/* ABOUT PAGE STYLE */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    width: 70vw;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEAD Container */

.about-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.about-head #back-button {
    max-width: 100px;
}

/* HERO Container */

.hero {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
}

/* IMAGE Container */

.img-container {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.img-container #about-patch {
    width: 60%;
}

.img-container #about-picture {
    width: 100%;
}
