main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    width: 70vw;
    max-width: 1200px;
    margin: 0 auto;
}

/* LINKS Container */

.links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#projects-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#projects-list li {
    padding: 1rem;
    text-transform: uppercase;
    list-style: none;
}

/* TV Container */

.hero {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
}

.tv-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
}

.home-logo {
    width: 100%;
    min-width: 790px;
    z-index: 0;
}

#tv-img {
    z-index: 3;
    min-width: 400px;
    transform: translateY(14px);
}

#about-cass {
    position: absolute;
    z-index: 3;
    transform: translate(100px, -195px);
}

#works-cass {
    position: absolute;
    z-index: 3;
    transform: translate(110px, -175px);
}

#project-display {
    position: absolute;
    z-index: 2;
}

#project-display .project-img {
    max-width: 350px;
}

#reel-img {
    max-width: 350px;
    position: absolute;
    z-index: 2;
    display: none;
}

#static-img {
    position: absolute;
    z-index: 1;
    max-width: 350px;
}
