main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    width: 80vw;
    max-width: 1000px;
}

.center-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.center-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.center-container h1 {
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
}

/* HEAD Container */

.project-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.project-head #back-button {
    max-width: 100px;
}

/* PROJECT LINKS Container */
.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
