@font-face {
    font-family: "D Din Expanded";
    src: url('../font/d-din/D-DINExp.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "D Din Expanded", monospace;
}

/* LOAD Container */

.load-container {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loader {
    width: 110px;
    height: 110px;
    border: 8px solid lightgrey;
    border-top: 14px solid black;
    border-radius: 100%;
    animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* FOOTER Container */
footer {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
}

footer a {
    padding: 1rem;
}

.icon {
    color: black;
    font-size: 2.5rem;
}
