/* WORKS PAGE STYLES */

main {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    min-height: 100vh;
    width: 70vw;
    max-width: 1200px;
    margin: 2rem auto;
}

.works-head {
    display: flex;
    grid-column: 1 / span 2;
    justify-content: space-between;
    align-items: center;
}

.works-head #back-button {
    max-width: 100px;
}

.works-head #works-title {
    width: 300px;
}

.work-container {
    text-align: right;
}

.work-container a {
    color: black;
    text-decoration: none;
}

.work-container img {
    width: 100%;
}

/* Media queries */
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        width: 90vw;
    }

    .works-head {
        grid-column: 1;
    }

    .works-head #back-button {
        max-width: 70px;
    }

    .works-head #works-title {
        display: none;
    }
}
